<div class="container-fluid">
		<h3  style="  border-bottom: 2px solid #f13c20;width: 156px;text-align: center;margin-right: auto;margin-left: auto;margin-top: 80px;">Add A Service
		</h3>
<%= render 'form'%>
</div>