 <div class="login-container lightmode">
        
            <div class="login-box"> 
                <div class="login-body">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="login-title"><strong style="color: #f13c20;"></strong>Forgot Your Password</div>
    <br>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <%= f.text_field :email, autofocus: true, class: "form-control",id: "email",placeholder: "Enter your email", required: true %>
                
                </div>
              </div>
            
  <br>
  
                       
    <%= f.submit "Send me reset password instructions" ,id: "button", class: "btn btn-primary btn-lg btn-block login-buttonactions" %>
                          
<br>

<% end %>
</div>
</div>
</div>


