<%= form_for @userrole do |f| %>
<div class="field">
    <%= f.label "User Role name:" %><br>
    <%= f.text_field :rolename, required: :true %>
  </div><br>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<%end%>