<%= form_for @userrole do |f| %>
<div class="field">
    <%= f.label "User Role name:" %><br>
    <%= f.text_field :rolename, required: :true %>
  </div><br>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<%end%>

<script type="text/javascript">
$(document).ready(function () {
$("#new_userrole").validate({
rules: {
"userrole[rolename]": {required: true}
}
});
});
</script>