<%= form_for @prelanding do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true%>
  </div>

  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>

<script type="text/javascript">
$(document).ready(function () {
$("#new_prelanding").validate({
rules: {
"prelanding[email]": {required: true,email: true}
}
});
});
</script>