<nav class="navbar navbar-default" data-spy="affix" data-offset-top="190" style="font-size: 11px; margin:0px 0px 0px 0px;z-index: 1;background-color: white;border-color: transparent;width: 100%;letter-spacing: 1px;padding: 10px 0px">
  <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#"><img src="/assets/logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav navbar-right" style="color: black;">
      <li ></li>
      
    </ul>
    </div>
  </div>
</nav>