<div class="container" style="margin: 20px 0px;">
   <div class="row">
   	  <div class="col-xs-10 col-xs-offset-1 col-md-6 col-lg-6 col-lg-offset-3 " style="padding: 30px">
   	  <img src="/assets/error404" width="100" height="auto">
   	  	<div class="f-100">404</div>
				<div class="error-text">
					<h4>You tried to access /not-found-page, which have been deleted or never have existed.</h4>

				</div>
   	  </div>
   </div>
 </div>
 <script type="text/javascript">
  <!--
  
  $(document).ready(function() {
   
   var docHeight = $(window).height();
   var footerHeight = $('#sticky').height();
   var footerTop = $('#sticky').position().top + footerHeight;
   
   if (footerTop < docHeight) {
    $('#sticky').css('margin-top', 10 + (docHeight - footerTop) + 'px');
   }
  });
  
  // -->
 </script>