<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@variant, remote: remote, html: {role: :form, 'data-model' => 'variant'}) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, required: :true %>
  </div>
  
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
