<h3>Add a variant</h3>

<%= form_for @variant do |f| %>


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, required: :true %>
  </div>
  
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
