<div class="container">
		<h3  style="  border-bottom: 2px solid #f13c20;width: 151px;text-align: center;margin-right: auto;margin-left: auto;margin-top: 80px;">Edit A Variant
		</h3>
	<%=render 'form'%>
	</div>