.http-error-outside {
  margin: 0;
  background: #fff;
}
.http-error-outside .row {
  margin-top: 50px;
}
.http-error-outside .error-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.http-error-outside .error-bg.error-bg1 {
  background-image: url('/assets/formbg5.png');
}
.http-error-outside .error-bg.error-bg2 {
  background-image: url('/assets/formbg5.png');
  opacity: .5;
}
.http-error-outside .error-number {
  font-size: 60px;
}
.http-error-outside .error-text {
  margin: 10px 0 20px 0;
}
.http-error-outside .icon-list {
  margin-top: 10px;
}
@font-face{
  font-family: 'OS-light';
  src: url('/assets/OpenSans-Light.ttf');
}
@font-face{
  font-family: 'OS-regular';
  src: url('/assets/OpenSans-Regular.ttf');
}
@font-face{
  font-family: 'OS-semibold';
  src: url('/assets/OpenSans-Semibold.ttf');
}
@font-face{
  font-family: 'OS-italic';
  src: url('/assets/OpenSans-Italic.ttf');
}
@font-face{
  font-family: 'OS-bolditalic';
  src: url('/assets/OpenSans-BoldItalic.ttf');
}
@font-face{
  font-family: 'OS-semibolditalic';
  src: url('/assets/OpenSans-SemiboldItalic.ttf');
}
@font-face{
  font-family: 'OS-extrabold';
  src: url('/assets/OpenSans-ExtraBold.ttf');
}
@font-face{
  font-family: 'OS-LightItalic';
  src: url('/assets/OpenSans-LightItalic.ttf');
}
@font-face{
  font-family: 'JS-regular';
  src: url('/assets/JosefinSans-Regular.ttf');
}
@font-face{
  font-family: 'JS-lightitalic';
  src: url('/assets/JosefinSans-LightItalic.ttf');
}
@font-face{
  font-family: 'JS-semibolditalic';
  src: url('/assets/JosefinSans-SemiBoldItalic.ttf');
}
@font-face{
  font-family: 'robotoregular';
  src: url('/assets/Roboto-Regular.ttf');
}
@font-face{
  font-family: 'bitter';
  src: url('/assets/Bitter-Regular.ttf');
}

body{

  background-color: transparent;
  font-family: "OS-regular";
}
/*<!--header1-->*/
.navbg{
background-color: #f13c20;

}
.hdlinks>li{

  margin-right: 0px;
}

.hdlinks li a {
 color: white !important;
  font-weight: 600;
  font-size: 13px;
  font-family: "JS-regular";
   letter-spacing: 1px;
}

.hdlinks .open > a,
.hdlinks .open > a:hover,
.hdlinks .open > a:focus {
  background-color: #e25845;
  border: none;
}

.hdlinks > li > a:hover,
.hdlinks > li > a:focus,
.hdlinks > li.active > a {
 
  background-color: #f13c20!important;
  color: black !important;

}
.brandcol{
  color: white!important;
}
.barcol{
  background-color:white!important;
}

.hdlinks > li > a {
  position: relative;
  display: block;
  padding: 15px 12px;
}
 
 /*header*/
.custom {
  background-color: #f13c20;
  margin-bottom: 0px;
  z-index: 99;

}

.custom.affix {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 0;
}


.links li a {
 color: white;
  font-weight: 600;
  font-size: 13px;
  font-family: "JS-regular";
   letter-spacing: 1px;
}
.links .open > a,
.links .open > a:hover,
.links .open > a:focus {
  background-color: #e25845;
  border: none;
}

.links > li > a:hover,
.links > li > a:focus,
.links > li.active > a {
  border:none;
   color: black;
background-color: #f13c20;
}


.links > li > a {
  position: relative;
  display: block;
  padding: 15px 12px;
}



.userlogin
{
    width: 300px;
    padding: 10px;
    padding-bottom: 0px;
}

.login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 32px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.editdropdown{
margin-top: 2px;
  background-color: #f13c20;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 0px;
}
.editbutton{
  background-color: transparent;
  border:2px solid white;
  border-radius:0px;
}
.editbutton:hover{
  background-color: #f13c20;
   border:2px solid white;
   color: white;
}
.editdropdown >li >a:hover{
  background-color: #f13c20!important;
  color:black!important;
}
.height-60{
  height: 60px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
.media-padding{
  padding: 30px!important;
}
.navbar-nav {
  margin: 0;
}

.navbar-toggle {

  border-radius: 0
  margin-top: 10px;
}

.navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navposition{
/*  width: 457px!important;
*/
  left: auto;
float:left!important;
}

.container > .navbar-header {
  margin-left: 0;
}

.container > .navbar-collapse {
  width: 100%;
  background-color: #2c3e50;
  margin-right: 0;
}

.navbar-nav > li {
  height: auto !important;
  margin-right: 0;
}

.navbar-nav > li.pull-left {
  float: none !important;
}

.navbar-nav > li > a {
  line-height: 36px;
  color: #ffffff;
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav > li.active {
  border-bottom: none;
}

li.open a,
 li.open a:hover,
 li.open a:focus {
  color: #ffffff;
  line-height: 21px;
}

.nav > li > a:hover,
 .nav > li > a:focus {
  background-color: transparent;
}
}

.textcolor{
  color: #AC3B61;
}





/* RESPONSIVE CSS
-------------------------------------------------- */

 .img-container { background-color: #000000; }
 .img-container img { opacity: 0.4;
 position: relative; }
 
.carousel-inner {
    height: 650px;
}

.item ,.itemimg {
    width:  100% !important;
}
.intro-content , .intro-content2, .intro-content1{
top: 13%;
left: 0%;
right:0%;
}

.intro-content h1{
    font-size: 46px;
  font-family: 'robotoregular';
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
    text-align: center;

  color: #ffffff;

}
.intro-content p{
    font-size: 27px;
  font-family: 'OS-light';
  text-align: center;
  color: #ffffff;
  font-weight: 300;

    text-align: center;

  color: #ffffff;
  opacity: 0.8;
padding-top: 10px;
}

 .intro-content2 h1{
    font-size: 47px;
  font-family: 'robotoregular';
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
    text-align: center;
text-transform: uppercase;
  color: #ffffff;

}
.intro-content2 p{
    font-size: 27px;
  font-family: 'OS-light';
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  color: #ffffff;
  opacity: 0.8;
padding-top: 10px;
}

.intro-content1 h1{
    font-size: 46px;
  font-family: 'robotoregular';
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
    text-align: center;
text-transform: uppercase;
  color: #ffffff;

}
.intro-content1 p{
    font-size: 27px;
  font-family: 'OS-light';
 
  color: #ffffff;
  font-weight: 300;

    text-align: center;

  color: #ffffff;
  opacity: 0.8;
padding-top: 10px;
}

.button {

    background-color: #4CAF50; 
    border: none;
    color: white;
    font-family: "OS-semibold";
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {

  margin-top: 46px;
    background-color: transparent; 
    color: white; 
    border: 2px solid white;
}

.button1:hover {
    background-color: #f13c20;
    color: white;
    border: 2px solid transparent;
}
.button-vehicle2:hover {
    background-color: #f13c20;
    color: white;
    border: 2px solid transparent;
}
.button-vehicle {
    margin: 15px 0px;
    background-color: transparent; 
    color: #f13c20; 
    border: 2px solid #f13c20;
    padding: 16px 29px;
   font-size: 15px;
   margin: 8px 2px;
}
.button-vehicle1 {
    margin: 15px 0px;
    background-color: transparent; 
    color: #f13c20; 
    border: 2px solid #f13c20;
    padding: 8px 10px;
   font-size: 15px;
   margin: 8px 2px;
   width: 180px;
   margin: auto;
}
.button-vehicle2 {
    margin: 15px 0px;
    background-color: transparent; 
    color: #f13c20; 
    border: 2px solid #f13c20;
    padding: 8px 10px;
   font-size: 15px;
   margin: 8px 2px;
   margin: auto;
}

.m-t-30{
  margin-top: 30px;
}


.icon1{
  opacity: 0.7 !important;
  height: 88px;
margin-left: auto;
margin-right: auto;
  margin-bottom: 42px;
}
.paddingmargin
{
margin-left: 0px;
margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.space{
margin-top: 0px;
margin-bottom: 0px;
}
.sec2{
color:  #f13c20; 
font-size:31px;
font-weight: 500;

}
.sec21{
  color:  #f13c20;
   font-size:45px;
   font-weight: 500;
}
.sec22{
  color:  #f13c20; 
  font-size:31px;
  font-weight:500;
}
.below{
  background-color: #f2eeee;
}
.below h3{
    padding-top: 15px;
  padding-bottom: 20px;
 text-align: center;
  color: rgb(16, 16, 16);
  letter-spacing: 0.5px;
  font-family: "OS-light";
}

.wwd{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 35px;
  font-family: "JS-regular";
  font-weight: 300;
  color: black;
  padding-top: 19px;
  padding-bottom: 15px;
}


 .buttonww {
background-color:transparent; 
    border: none;
    color: #f13c20;
    font-family: "OS-semibold";
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 8px 11px;
  
    cursor: pointer;
}
.button12 {
 
    background-color: transparent; 

    border: 2px solid #f13c20;
}

.button12:hover{
  background-color: #f13c20;
  border: 2px solid #f13c20;
  color: white;
}
.parent-img{
  position: relative;
  display: table;
}
.caption{
display: table-cell;
  visibility:  hidden;
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
right: 0;
vertical-align: middle;
}
.caption h2{
text-align: center;
  color: white;

font-family: "OS-regular";
font-weight: 300;
}
.caption p{
text-align: center;
  color: white;

font-family: "OS-regular";
}
.parent-img:hover .caption{
  visibility: visible;
  vertical-align: middle;
  display: table-cell;
  background-color: #f13c20;
  opacity: 0.8;

}
 .featured-content h3 {
  color: #f13c20;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 14px;
  padding-top: 15px;
  text-align: center;
font-family: "OS-regular"
}

 .featured-content p {
  color:#696868;
/*  font-family: 'OS-semibold';*/
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 0;
  text-align: justify;
}

.featured-panel{
padding-top: 50px;
}
.featured-icon{
  position: absolute;
  left: 41.5%;
  top:0;
}
.testimonial{

  background-image: url(/assets/test.jpg);
  width: 100%;
  height: 350px;
}
.textplace{
    padding-top: 41.5px;
  margin-top: 40px;
}

section {
    padding-top: 60px;

}

.quote {
    color: #f13c20;


}
.quoteby{
  font-family: "OS-regular";
  font-size: 18px;
  float: right;
  padding-top: 12px;
}

#fade-quote-carousel.carousel {
  padding-bottom: 40.5px;

}
#fade-quote-carousel.carousel .carousel-inner .item  {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;

}

#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #f13c20;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
    color: white;
    font-size: 18px;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

@media only screen and (max-width: 375px){


#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
    color: white;
    font-size: 12px;
}
.fa-4x{
  font-size: 3em;
}
.quoteby{
  font-family: "OS-regular";
  font-size: 15px;
text-align: center;
  padding-top: 6px;
  padding-bottom: 8px;
}
.textplace{
    padding-top: 23px;

}

}
@media only screen and (max-width: 767px){
 .mf-10{
 font-size: 12px !important;
 }
 .mh-45{
  height: 48px;
 }
 .tab-font{
  font-size: 12px!important;
  padding: 30px!important;
 }
 .border-right{
  border:none!important;
 }

#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
    color: white;
    font-size: 15px;
}
.fa-4x{
  font-size: 3em;
}
}
.thumbnail{
    display: block;
 
  border: none;
  border-radius:0px;
  margin-left: auto;
  margin-right: auto;
}

.brands{
  text-align: center;
  margin-bottom: 20px;
  font-family: "JS-regular";
  font-weight: 29px;

}
.footer {

  background-color:#333;
  padding: 25px;
  color: rgba(255,255,255,1.00);
}
.footer-brand, .footer-nav, .footer-social, .footer-ns { 
  padding:10px 25px;
   }
.footer-nav, .footer-social, .footer-ns { 
  border-color: transparent;
   }
.footer-brand h2 { 
  margin:0px 0px 10px; 
}
.footer-brand p { 
font-size:12px;
 color:rgba(255,255,255,0.70); 
}

.footer-nav ul.pages { 
  list-style:none;
   padding:0px; 
 }
.footer-nav ul.pages li {
 padding:5px 0px;
}
.footer-nav ul.pages a {
 color:rgba(255,255,255,1.00); 
 font-weight:bold; 
 text-transform:uppercase;
  }
.footer-nav ul.pages a:hover {
 color:rgba(255,255,255,0.80); 
 text-decoration:none; 
}
.footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
}

.footer-nav ul.list {
 list-style:none; padding:0px;
  }
.footer-nav ul.list li {
 padding:5px 0px;
}
.footer-nav ul.list a {
 color:rgba(255,255,255,0.80);
  }
.footer-nav ul.list a:hover {
 color:rgba(255,255,255,0.60); 
 text-decoration:none;
  }

.footer-social ul { 
  list-style:none; padding:0px; 
}
.footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.footer-social li { 
  padding:5px 4px;
}
.footer-social a { 
  color:rgba(255,255,255,1.00);
}
.footer-social a:hover { 
  color:rgba(255,255,255,0.80); text-decoration:none;
   }

.main{
  margin:50px 15px;
}

.main-login{
  background-color: #fff;
   
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

}

#button {
    border: 2px solid #f13c20;

    padding: 6px 12px;
    color: white;

    cursor: pointer;
 
  border-radius: 0px;
    background: #f13c20;
    
}

.main-center{

  margin-top: 30px;
  margin: 0 auto;
  max-width: 400px;
    padding: 10px 40px;
background: transparent;
      color: #FFF;
 

}
.main-center h5{
  font-family: "OS-light";
  font-weight: 600;
  font-size: 23px;
text-align: center;
margin-bottom: 29px;

}


span.input-group-addon i {
    color: #f13c20;
    font-size: 17px;
}

.login-button{
  margin-top: 0px;
}

.login-register{
  font-size: 11px;
  text-align: center;
}
.bg-signup{
  padding-top: 30px;
  padding-left: 0px;
  padding-right: 0px;
}


.spacing {
  padding-top:7px;
  padding-bottom:7px;
}
.middlePage {
  width: 680px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo {
  color:#CCC;
}

.button-facebook{
  background-color: #3b5998;
  color: #fff;
}
.button-facebook:hover{
  background-color: #fff;
  color: #3b5998;
}
.button-twitter{
  background-color: #c23321;
  color: #fff;
}
.button-twitter:hover{
  background-color: #fff;
  color: #c23321;
}
.btnbord{
  border-radius: 0px;
  border: none;
  padding: 10px 12px;
}
.nopadd{
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
  margin-top: 1px;
}

label.error{
    z-index: 9;
    color: #ce0000;
    font-size: 11px; 
}

/*admin*/
.heading h2{
  text-align: center;
  font-size: 26px;
}
.heading p{
    margin-bottom: 46px;
text-align: center;
}

.signin{
  color: #f13c20;
margin-left:7px;
font-size: 17px;
}
.signin:hover{
  text-decoration: none;
  color: white;
}
@media only screen and (max-width:439px) 
{
  .wwd{
font-size: 27px;
  }
  .sec22{
font-size: 29px;
  }
  .sec21{
font-size: 42px;
  }
  .sec2{
font-size:29px; 
  }
}

/* LOGIN */

.login-container .login-box {
  width: 400px;
  margin: 0px auto;
  padding-top: 100px;
}

.login-container .login-box .login-body {
  width: 100%;
  float: left;
  
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.login-container .login-box .login-body .login-title {
  color: #FFF;
  font-size: 19px;
  font-weight: 300;
  margin-top: 5px;
  text-align: center;
}
.login-container .login-box .login-body .form-control {
  border: 0px;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  color: #CCC;
  line-height: 20px;
  height: auto;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.login-container .login-box .login-body .form-control:focus {
  background: rgba(0, 0, 0, 0.3);
}
.login-container .login-box .login-body .btn-link {
  color: #FFF;
  border: 0px;
}


.login-container .login-box .login-body .login-subtitle {
  line-height: 27px;
  padding: 5px 0px;
  font-size: 16px;
  color: #FFF;
  text-align: center;
}


.login-container.lightmode {
  background: url("/assets/sign.jpg") left top no-repeat;
  height: 628px;
  background-size: cover;
}
.login-container.lightmode .login-box .login-body {
  background: rgba(255, 255, 255, 0.2);
}
.login-container.lightmode .login-box .login-body .form-control {
  background: rgba(255, 255, 255, 0.4);
  color: #333;

}
.login-container.lightmode .login-box .login-subtitle a {
    color: #f13c20;
  font-size: 16px;
}
.passbtn{
  padding: 12px 12px;
}


.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

}
.card {

  background: #fff;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);

}

.card .card-header {
  position: relative;
}

@media screen and (min-width: 768px) {
  .card .card-header:not(.ch-alt) {
    padding: 23px 25px;
  }
}

@media screen and (max-width: 991px) {
  .card .card-header:not(.ch-alt) {
    padding: 18px;
  }
}

.card .card-header h2 {
  margin: 0;
  line-height: 100%;
  font-size: 17px;
  font-weight: 400;
}

.card .card-header h2 small {
  display: block;
  margin-top: 8px;
  color: #AEAEAE;
  line-height: 160%;
}

@media screen and (min-width: 768px) {
  .card .card-header.ch-alt {
    padding: 23px 26px;
  }
}

@media screen and (max-width: 991px) {
  .card .card-header.ch-alt {
    padding: 18px 18px 28px;
  }
}

.card .card-header.ch-alt:not([class*="bgm-"]) {
  background-color: #f7f7f7;
}

.card .card-header[class*="bgm-"] h2,
.card .card-header[class*="bgm-"] h2 small {
  color: #fff;
}

.card .card-header .actions {
  position: absolute;
  right: 10px;
  z-index: 2;
  top: 15px;
}

.card .card-header .btn-float {
  right: 25px;
  bottom: -23px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .card .card-body.card-padding {
    padding: 23px 26px;
  }
}

@media screen and (max-width: 991px) {
  .card .card-body.card-padding {
    padding: 18px;
  }
}

.card .card-body.card-padding-sm {
  padding: 15px;
}

.card-header:not(.ch-alt):not([class*="bgm-"]) + .card-padding {
  padding-top: 0;
}


.panel-info {
  border-color: transparent;
}
.panel-info > .panel-heading {
  color: black;
  background-color:white;
  border-bottom: 2px solid #f13c20;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  color: inherit;
  font-weight: bold;
  font-family: "OS-regular"

}
a:hover{
  text-decoration: none;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  font-family: "OS-regular";
  
}

  padding-left: 25px;
}
.dropdown-item-checkbox{
  display: none;
}
@media only screen and (max-width:768px) {
.zeropadding{
  padding-right: 0px;
  padding-left: 0px;
}
.media-font{
  font-size: 15px!important;
  padding: 13px 35px 13px 20px !important;
}
}

a {
    text-decoration: none !important;
}

.border-circle{
   font-size: 20px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px 11px;
}
.border-circle1{
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px 16px;
}
.m-l-13{
  margin-left: 13px;
}    
.style_image {
  border: 1px white;
  border-radius:  30px ;
}
.m-t-7{
  margin-top: 7px;
}
.header1{
  text-decoration: none;
  margin-top: 2px;
}
.color-orange{
  color: #f13c20;
}
 .more-less {
        float: right;
        color: #212121;
      }
.p-l-r-30{
  padding: 33px 30px
}


.btnposition{
  margin-left: 15px;
  margin-top: 3px;
}
.btn-info{
  background-color: #f13c20;
  border: 2px solid #f13c20;
}
.btn-info:hover{
  background-color: white;
  border: 2px solid #f13c20;
  color: #f13c20;
}
.modalinks{
  font-size: 12px;
  color: #f13c20;
  font-weight: bold;
  font-family: "OS-regular";
   box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.26);
}
.modalinks:hover{
  color: #f13c20;
}
.f-20{
  font-size:18px;
}
.m-l-6{
  margin-left: 10px;
}
.p-t-15{
      padding-top: 15px;
}
.member1 {
  background-image: url('/assets/hemant.jpg');
}
.member2 {
  background-image: url('/assets/anmol.jpg');
}
.member3 {
  background-image: url('/assets/gauri.jpg');
}
.member4 {
  background-image: url('/assets/supreet.jpg');
}
#sticky {
  width:100%;
  height:auto;
  bottom:0;          
  left:0;    
}
.f-100{
   font-size: 100px;
}
.p-t-20{
  padding-top: 20px;
}
.p-r-10{
  padding-right: 10px;
}
.image{
    background: url(/assets/formbg5.png);
    background-size: cover;
     background-repeat: no-repeat;
    height: 200px;
    max-width: 100%;
  }
.overlay1{
    position: absolute;
    top: 0%;
    z-index: 3;
    background-color: #080D3C;
    width: 100%;
    height: 100%;
    opacity: .7;
}
.heading{
    text-align: center;
    font-size: 54px;
    color: white;
    font-weight: 500px;
    font-family: "OS-regular";
}
.paragraph{
  text-align: center;
  font-size: 20px;
  width: 65%;
  margin: auto;
  color: white;
  margin-top: 30px;
  font-family: "OS-regular";
}
.btn-1 {
  width: 135px;
  height: 38px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 23px;
   margin-top: 31px;
   color: white;
   background: black;
   border-color: transparent;
}
.head1{
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}
.sample-member1{
  background-image: url('/assets/ceo.jpg');
}
.p-10{
  padding: 10px;
}
.p-20{
  padding: 20px;
}
.p-30{
  padding: 30px;
}
.background{
  background-color: #e3e3e3;
}
.back-color{
  background-color:  #f13c20;
}
.achivement{
  font-size: 30px;
  margin-bottom: 30px;
}
.border-head{
    border-bottom: 1px solid #eee;   
    margin-right: -7px; 
    border-spacing: 5px;
    font-size: 15px;
  }
  .border-head1{
    border-bottom: 2px solid #f13c20;   
    margin-right: -10px; 
    border-spacing: 0px;
    font-size: 30px;
  }
  .border-head2{
    border-bottom: 2px solid black;   
    margin-right: -10px; 
    border-spacing: 0px;
    font-size: 30px;
  }
  .color-white{
    color: white;
  }
  .f-54{
    font-size: 54px;
  }
  .letter-spacing{
    letter-spacing: 10px;
  }
.hover-color:hover{
  color: black;

}
.m-b-10{
  margin-bottom: 10px;
}
.m-b-20{
  margin-bottom: 20px;
}

 .js div#preloader { position: fixed; left: 0; top: 0; z-index: 9999999; width: 100%; height: 100%; overflow: visible; background: white url('/assets/loading1.gif') no-repeat center center; }

.formunder{
  border-bottom: 2px solid #f13c20;
  width: 152px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  } 
.brandunder{
border-bottom: 2px solid #f13c20;
width: 151px;
text-align: center;
margin-right: auto;
margin-left: auto;
margin-top: 80px;
}
.serviceunder{
border-bottom: 2px solid #f13c20;
width: 156px;
text-align: center;
margin-right: auto;
margin-left: auto;
margin-top: 65px;
}

@media only screen and (max-width: 320px) 
{
  .intro-content , .intro-content2, .intro-content1{
top: 18%;
left: 0%;
right:0%;
}

  .carousel-inner{
    height: 480px;
}

.item ,.itemimg {
    height: 100% !important;
    width:  100% !important;
}
 
   .icon1{
    height: 58px;
  
    margin-bottom: 10px;
}
 .intro-content h1, .intro-content2 h1 {
    font-size: 20px;
   margin-left: auto;
   margin-right: auto;
    font-weight: 600;
    }
    .intro-content p , .intro-content2 p , .intro-content1 p{
    font-size: 16px;
    
    padding-top: 0px;
  }

.intro-content1 h1{
     font-size: 19px;
   margin-left: auto;
   margin-right: auto;
    font-weight: 600;

}

  .button {
padding: 8px 10px;
font-size: 12px;
margin: 8px 2px;
  
}
.button1 {
 
margin-right: auto;
margin-left: auto;
    }

}
@media only screen and (min-width: 321px) and (max-width: 375px)
{
  .intro-content , .intro-content2, .intro-content1{
top: 18%;
left: 0%;
right:0%;
}

  .carousel-inner{
    height: 480px;
}

.item ,.itemimg {
    height: 100% !important;
    width:  100% !important;
}
 
   .icon1{
    height: 58px;
  
    margin-bottom: 0px;
}
 .intro-content h1, .intro-content2 h1 {
    font-size: 23px;
   margin-left: auto;
   margin-right: auto;
    font-weight: 600;
    }
    .intro-content p , .intro-content2 p , .intro-content1 p{
    font-size: 19px;
    
    padding-top: 0px;
  }

.intro-content1 h1{
     font-size: 20px;
   margin-left: auto;
   margin-right: auto;
    font-weight: 600;

}

  .button {
padding: 9px 11px;
font-size: 14px;
margin: 8px 2px;
  
}
.button1 {
 
margin-right: auto;
margin-left: auto;
    }

}
@media only screen and (min-width: 376px) and (max-width: 628px)
{
  .intro-content , .intro-content2, .intro-content1{
top: 16%;
left: 0%;
right:0%;
}

  .carousel-inner{
    height: 485px;
}

.item ,.itemimg {
    height: 100% !important;
    width:  100% !important;
}
 
   .icon1{
    height: 60px;
  
    margin-bottom: 5px;
}
 .intro-content h1, .intro-content2 h1 {
    font-size: 21px;
   margin-left: auto;
   margin-right: auto;
    font-weight: 600;
    }
    .intro-content p , .intro-content2 p , .intro-content1 p{
    font-size: 21px;
    
    padding-top: 0px;
  }

.intro-content1 h1{
     font-size: 20px;
   margin-left: auto;
   margin-right: auto;
    font-weight: 600;

}

  .button {
padding: 9px 11px;
font-size: 14px;
margin: 8px 2px;
  
}
.button1 {
 
margin-right: auto;
margin-left: auto;
    }

}
@media only screen and (min-width: 629px) and (max-width: 1240px)
{
  .intro-content , .intro-content2, .intro-content1{
top: 16%;
left: 0%;
right:0%;
}

  .carousel-inner{
    height: 490px;
}

.item ,.itemimg {
    height: 100% !important;
    width:  100% !important;
}
 
   .icon1{
    height: 71px;
  
    margin-bottom: 5px;
}
 .intro-content h1, .intro-content2 h1 {
    font-size: 32px;
   margin-left: auto;
   margin-right: auto;
    font-weight: 600;
    }
    .intro-content p , .intro-content2 p , .intro-content1 p{
    font-size: 24px;
    
    padding-top: 2px;
  }

.intro-content1 h1{
     font-size: 30px;
   margin-left: auto;
   margin-right: auto;
    font-weight: 600;

}

  .button {
padding: 16px 25px;
font-size: 15px;
margin: 8px 2px;
  
}
.button1 {
 
margin-right: auto;
margin-left: auto;
    }

}
@media only screen and (min-width: 2520px) 
{
  .intro-content , .intro-content2, .intro-content1{
top: 20%;
left: 0%;
right:0%;
}

  .carousel-inner{
    height: 900px;
}

.item ,.itemimg {
    height: 100% !important;
    width:  100% !important;
}
 
   .icon1{
    height: 91px;
  
    margin-bottom: 11px;
}
 .intro-content h1, .intro-content2 h1 {
    font-size: 49px;
   margin-left: auto;
   margin-right: auto;
    font-weight: 600;
    }
    .intro-content p , .intro-content2 p , .intro-content1 p{
    font-size: 29px;
    
    padding-top: 4px;
  }

.intro-content1 h1{
     font-size: 47px;
   margin-left: auto;
   margin-right: auto;
    font-weight: 600;

}

  .button {
padding: 18px 31px;
font-size: 17px;
margin: 8px 2px;
  
}
.button1 {
 
margin-right: auto;
margin-left: auto;
    }

}

.m-t-35{
  margin-top: 35px;
}

.m-t-b-20{
  margin: 20px 0px;
}
.head2{
  font-size: 30px;
  padding: 50px 0px;
}
.img-border{
  border: 1px solid black;
}
.m-b-40{
  margin-bottom: 40px;
}
.back-color-tab{
  background-color: #e3e3e3;
}
.pumping-heart{
  height: 134px;
  margin-bottom: 50px;

}
.pumping-heart .fa-phone{
    font-size: 90px;
    animation: beat 1s infinite alternate;
  transform-origin: center;
    -webkit-animation: beat 1s infinite alternate;
  -moz-animation: beat 1s infinite alternate;
  -ms-animation: beat 1s infinite alternate;
  -o-animation: beat 1s infinite alternate;
  animation: beat 1s infinite alternate;

  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.pumping-heart .fa-user{
    font-size: 90px;
    animation: beat 1s infinite alternate;
  transform-origin: center;
    -webkit-animation: beat 1s infinite alternate;
  -moz-animation: beat 1s infinite alternate;
  -ms-animation: beat 1s infinite alternate;
  -o-animation: beat 1s infinite alternate;
  animation: beat 1s infinite alternate;

  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.pumping-heart .fa-users{
    font-size: 90px;
    animation: beat 1s infinite alternate;
  transform-origin: center;
    -webkit-animation: beat 1s infinite alternate;
  -moz-animation: beat 1s infinite alternate;
  -ms-animation: beat 1s infinite alternate;
  -o-animation: beat 1s infinite alternate;
  animation: beat 1s infinite alternate;

  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.pumping-heart .fa-lock{
    font-size: 90px;
    animation: beat 1s infinite alternate;
  transform-origin: center;
    -webkit-animation: beat 1s infinite alternate;
  -moz-animation: beat 1s infinite alternate;
  -ms-animation: beat 1s infinite alternate;
  -o-animation: beat 1s infinite alternate;
  animation: beat 1s infinite alternate;

  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.pumping-heart .fa-car{
    font-size: 70px;
    animation: beat 1s infinite alternate;
  transform-origin: center;
    -webkit-animation: beat 1s infinite alternate;
  -moz-animation: beat 1s infinite alternate;
  -ms-animation: beat 1s infinite alternate;
  -o-animation: beat 1s infinite alternate;
  animation: beat 1s infinite alternate;

  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.pumping-heart .fa-shopping-cart{
    font-size: 70px;
    animation: beat 1s infinite alternate;
  transform-origin: center;
    -webkit-animation: beat 1s infinite alternate;
  -moz-animation: beat 1s infinite alternate;
  -ms-animation: beat 1s infinite alternate;
  -o-animation: beat 1s infinite alternate;
  animation: beat 1s infinite alternate;

  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.pumping-heart .fa-wrench{
    font-size: 47px;
    animation: beat 1s infinite alternate;
  transform-origin: center;
    -webkit-animation: beat 1s infinite alternate;
  -moz-animation: beat 1s infinite alternate;
  -ms-animation: beat 1s infinite alternate;
  -o-animation: beat 1s infinite alternate;
  animation: beat 1s infinite alternate;

  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.pumping-heart h4{
color: #373737;
  font-weight: 700;
  font-size: 24px;
  font-family: "OS-regular";
  letter-spacing: 1px;

}
.contact-text{
  color: #373737;
  font-weight: 700;
  font-size: 24px;
  font-family: "OS-regular";
  letter-spacing: 1px;
}

/* Heart beat animation */
 

@keyframes "beat" {
 to {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
 }

}

@-moz-keyframes beat {
 to {
   -moz-transform: scale(1.2);
   transform: scale(1.2);
 }

}

@-webkit-keyframes "beat" {
 to {
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
 }

}

@-ms-keyframes "beat" {
 to {
   -ms-transform: scale(1.2);
   transform: scale(1.2);
 }

}

@-o-keyframes "beat" {
 to {
   -o-transform: scale(1.2);
   transform: scale(1.2);
 }

} 

#header > a.pull-left, #header .nav-btn {
    position: fixed;
    z-index: 999;
    top: 20px;
}
#header .nav-btn {
    right: 20px;
}
#header > a.pull-left{
    left:20px;
}
.nav-btn {
    margin: 24px 0;
    cursor: pointer;
}
.nav-btn .icon-bar {
    background: none repeat scroll 0 0 #efb82f;
    clear: both;
    float: left;
    height: 3px;
    margin-bottom: 5px;
    width: 30px;
}


.contact-contain {
    border-style: double;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 0px;
    border-color: #d6d6d6;
    z-index: 4444;
}
.contact-left{
    border-style: double;
    border-top: none;
    border-left: none;
    border-bottom: none;
    padding-bottom: 20px;
    border-color: #d6d6d6;
    background-position: center 8px !important;
    background-repeat: no-repeat !important;
}
#contact-right {
    padding-bottom: 20px;
    background-position: center 30px !important;
    background-repeat: no-repeat !important;
}


 .widget {
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    color: #5C5C5C;
}
.widgettitle {
    color: #333;
    font-family: inherit;
}



#text-4{
  position: absolute;
  top: 23%;
  left: 0%;
  right: 0%;
}
.message{
    margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #f13c20;
}

#map{
  height: 400px;
  width: 100%;
}


.w-100{
  width: 100%;
}

.w-36{
  width: 35%;

}
.formunder1{
  border-bottom: 2px solid #f13c20;
  width: 230px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  } 

  .button-border{
    border: 2px solid #f13c20;
    border-radius: 0px;
    box-shadow: none;
    padding: 8px 12px;
     background-color: white;
  }
  .button-border:hover{
    border: 2px solid #f13c20;
    border-radius: 0px;
    box-shadow: none;
    color: white;
    background-color: #f13c20;
  }

@media only screen and (max-width: 350px){
  .mf-10{
    font-size: 10px!important;
  }
  .mh-45{
    height: 45px!important;
  }
  .padding-less{
    padding: 8px 27px!important;
  }
  }
  .p-50{
    padding: 50px;
  }
  .f-18{
    font-size: 18px;
  }
  .m-r-10{
    margin-right: 10px;
  }
  .f-25{
    font-size: 25px;
  }
  .color-black{
    color: black;
  }
  

.text-login{
font-family: "OS-regular";
color: black;
letter-spacing: 1px;
text-align: center;
}
.login-formbg{
  background-image: url(/assets/formbg214.jpg);
  height:468px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.w-50{
  width: 50%;

}
.shift{
  text-align: center!important;
  font-family: "OS-regular";
  font-size: 14px;
  font-weight: bold;
}
.updatebtn{
    border: 2px solid #f13c20 !important;
  background-color: #f13c20 !important;
  border-radius: 0px !important;
  padding: 11px 12px;
}
.userfa{
  color: #f13c20;
  font-size: 17px;
  margin-left: 5px;
}
@media only screen and (max-width: 425px){
  .media-p{
    padding: 8px 5px!important;

  }
    .media-p1{
    padding: 8.5px 5px!important;

  }
  .contact-left{
    border-style: double;
    border-left: none;
    border-top: none;
    border-right: none;
  }
}
.button-vehicle:hover{
background-color: #f13c20;
color: white;
border: 2px solid #f13c20;

}
.m-t-b-50{
  
  margin-bottom: 50px;
}
.main-section {
    background-color: #FFFFFF;
    border: 1px solid white;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}   

.main-primary {
    border-color: white;
}   

.main-primary > .main-heading {
    background-color: #e3e3e3;
    border-color: #e3e3e3;
    color: black;
}   

.main-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 16px 15px;
    text-transform: uppercase;
}   

.main-title {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}   

.main-body:before, .main-body:after {
    content: " ";
    display: table;
}   

.main-body:before, .main-body:after {
    content: " ";
    display: table;
}   

.main-body:after {
    clear: both;
}   



.main-footer {
    background-color: #F5F5F5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #DDDDDD;
    padding: 50px 50px;
    margin-bottom:20px;
    margin-top: 20px;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}
.default{
    height: 220px;
    width: 200px;
}
.labels{
    font-weight: bold;
    font-size:15px;
}
.tabledata{
    font-size: 15px;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

.text-head{
    font-size: 20px;
    text-transform: uppercase;
    color: #f13c20;
}
.btnwidth, .btnwidth1{
  width: 47%;
}
@media only screen and (max-width: 425px){
  .btnwidth{
    width: 60%;
  }
  .btnwidth1{
    width: 57%;
  }
}
.w-90{
  width: 94%;
}
.m-b-30{
  margin-bottom: 30px;
}
.passwordbtn{
width: 105%;
}
@media only screen and (max-width: 320px){
.passwordbtn{
  width:170%!important;
  }
}

.border-left{
    border-style: double;
    border-bottom: none;
    border-top: none;
    border-color: #e3e3e3;
}

.m-t-20{
  margin-top:20px;
}
.section-service{
  background-image: url(/assets/formbg214.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.auto{
  margin: auto;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border: 1px solid #ffffff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #f13c20; 
}
.available-color{
  margin-bottom: 20px;
  color: #f13c20;
  font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 6px;
}
.b-r-15{
  border-radius: 15px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
.border-left{
   border-style: double;
    border-left: none;
    border-right: none;
    border-color: #e3e3e3;
    margin-top: 10px;
}
.border-right{
    border:none!important;
}
}
.w-100{
  width: 100%;
}
.collection select{
  width: 100%;
  border: 1px solid;
}

/*label.error {
  color: #f13c20;
  background-color: transparent;
  border-color: #ebccd1;
  
}*/
.tablestyling{
border:1px solid black;
}
.textcenter{
  text-align: center;
}
.m-l-20{
margin-left: 20px;
}
.p-5{
padding: 5px;
}
.whitecolor{
color: white;
}
.m-b-50{
  margin-bottom: 50px;
}
.m-t-50{
  margin-top: 50px;
}
.float-r{
float: right !important;
}

.bookunder{
  border-bottom: 2px solid #f13c20;
  width: 217px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.btnbook{
  width: 45%;
  border-radius: 0px;
  padding: 12px 30px;
}
.service-drop select{
  border: 1px solid;
    background-color: white;
    width: 282px;
    height: 39px;
    border-radius: 6px;

}

#button1 {
    border: 2px solid #f13c20;

    padding: 13px 12px;
    color: white;

    cursor: pointer;
 
  border-radius: 0px;
    background: #f13c20;
    
}
.border-right{
  border-style: double;
  border-left: none;
  border-bottom: none;
  border-top: none;
  border-color: #e3e3e3;
}

.tborder{
  border:1px solid black;
}

.text-side{
  font-family: "JS-regular";
text-align: center;
}
.text-below{
text-align: center;
letter-spacing: 1px;
}

.h-100{
  height: 100%;
}
.parent-element {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.p-dif{
  padding: 8.5px 26px;
}
.border{
  border:1px solid;
}
.border-drop select{
  border:1px solid;
  background-color: white;
}
.p-b{
  padding-bottom:0px; 
}
.p-l-30{
  padding-left: 30px;
}
.text-dec span{
  text-decoration: none;


}
.button-vehicleadmin {
    margin: 15px 0px;
    background-color: transparent; 
    color: black; 
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 10px;
   font-size: 15px;
   margin: 8px 2px;
   width: 180px;
   margin: auto;
}
