$('#new_brand_modal').modal('hide');
$('#vehicle_brand_id').append('<option value="<%=@brand.id%>"><%=@brand.name%></option>');
$('#model_brand_id').append('<option value="<%=@brand.id%>"><%=@brand.name%></option>');

