 <style type="text/css">
     .row{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 2px;
        margin-bottom: 2px;
     }
 </style>
 <div class="clearfix">
     <div class="image" style="position: relative;">
         <div class="overlay1"></div>
       <div class="col-xs-12 co;-col-sm-12 col-md-12 col-lg-12 " style="z-index: 999;">
        <div style="margin: auto;">
  
          <div class="heading">OUR MISSION</div>
          <div class="paragraph">SERVE4WHEELS’s mission is to inspire everyone in the world to step out of their comfort zone and live more awesome.</div>
        </div>
       </div>
     </div>


     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px;">
     	<div class="head1 color-orange"><b>OUR STORY</b></div>
     	<hr>
     	  <div class="p-l-r-30 col-xs-12 col-sm-7 col-md-8 col-lg-8">
     	  	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Contrary to popular belief, Lorem Ipsum is not simply random text.
     	  </div>
     	  <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 ">
     			<div class="card card-user card-clickable card-clickable-over-content">

					<div class="card-heading heading-full">
						<div class="user-image sample-member1"></div>

						<div class="layered-content bg-green">
							<div class="overflow-content">
								<h4>Follow Aleksio</h4>
								<ul class="inline-list social-list borderless">
									<li><a class="btn btn-facebook btn-ripple"><i class="ion-social-facebook"></i></a></li>
									<li><a class="btn btn-twitter btn-ripple"><i class="ion-social-twitter"></i></a></li>
									<li><a class="btn btn-googleplus btn-ripple"><i class="ion-social-googleplus"></i></a></li>
								</ul>
							</div><!--.overflow-content-->

						</div>
						</div>

					</div><!--.card-heading-->

					<div class="card-body">
						<h3 class="card-title"><b class="color-orange">Serve4wheels</b></h3>
						<div class="subhead">CEO at <b class="color-orange">Serve4Wheels</b></div>
					</div><!--.card-body-->

				</div><!--.card-->
     	</div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-30 background">
             <div class="text-center achivement">
                 <span class="border-head1">A</span>
                 <span class="border-head1">C</span>
                 <span class="border-head1">H</span>
                 <span class="border-head1">I</span>
                 <span class="border-head1">V</span>
                 <span class="border-head1">E</span>
                 <span class="border-head1">M</span>
                 <span class="border-head1">E</span>
                 <span class="border-head1">N</span>
                 <span class="border-head1">T</span>
                 <span class="border-head1">S</span>
               </div>
             <div>
                 <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
                     <img src="/assets/ach1.png" width="180" height="auto">
                 </div>
                 <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
                     <img src="/assets/ach2.png" width="150" height="auto">
                 </div>
                 <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
                     <img src="/assets/ach3.png" width="150" height="auto">
                 </div>
                 <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
                     <img src="/assets/ach4.png" width="180" height="auto">
                 </div>
             </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <div class="text-center head2"><b class="color-orange">THINGS WE</b> ARE GOOD AT
           <div style="font-size: 15px;margin-top: 10px;font-weight: 700">Services crafted for everyone.</div>
           </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-b-20 animate">
            <div class="col-xs-12 col-sm-6 col-mg-6 col-lg-6">
                <img src="/assets/ww5" width="400" height="auto" class="img-responsive text-center img-border" >
            </div>
            <div class="col-xs-12 col-sm-6 col-mg-6 col-lg-6 text-center m-t-b-20">
                <div class="f-20 color-orange">MANTANENCE</div>
                <hr>
                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-b-20 animate">
             <div class="col-xs-12 col-sm-6 col-mg-6 col-lg-6 text-center m-t-b-20">
                <div class="f-20 color-orange">SERVICE</div>
                <hr>
                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</div>
            </div>
            <div class="col-xs-12 col-sm-6 col-mg-6 col-lg-6">
                <img src="/assets/ww2.jpg" width="400" height="auto" class="img-responsive text-center img-border" >
            </div>
        </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-20 back-color">
            <div class="text-center achivement color-white">FOLLOW US</div>
            <div class="text-center color-white f-54 letter-spacing">
                <a href="https://www.facebook.com/" class="color-white hover-color"><i class="fa fa-facebook-square" aria-hidden="true" ></i></a>
                <a href="https://twitter.com/" class="color-white hover-color"><i class="fa fa-twitter-square" aria-hidden="true" ></i></a>
                <a href="https://www.instagram.com/" class="color-white hover-color"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://in.linkedin.com/" class="color-white hover-color"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            </div>
        </div>

 </div>
 <script type="text/javascript">
     // Changing the defaults
   window.sr = ScrollReveal({ reset: true });

// Customizing a reveal set
    sr.reveal('.animate', { duration: 2000 });
 </script>
