  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <div class="panel-heading">	
          </div>
          <div class="panel-body">
            <div id="gmaps_1" class="example-map">
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 text-center pumping-heart color-orange">
          <i class="fa fa-phone">
            </i>
              <h4>CONTACT US</h4>
          </div>
      </div>
      <div class="row">
 <div class="col-xs-12 contact-contain">
            <div class="row">
                <div id="contact-center" class="col-sm-7 col-md-7 col-xs-12 col-lg-7 text-center contact-left">
                <%=render "messages/form"%>
                    </div>
                <div  class="col-sm-5 col-lg-5 col-xs-12 col-md-5 text-center">
                <div class="text-center">
                <img src="/assets/india.png" class="img-responsive" style="position: relative;width: 100%; opacity: 0.3;">
                </div>
                    <div id="text-4" class="widget widget_text fullwidth"><h4 class="widgettitle">INDIA</h4>      <div class="textwidget"> Plot F-7, Industrial Area - Phase 8<br/>Mohali, Punjab, India - 160055<br/>
contact@Serve4wheels.net<br/>
+91 172 4020042</div>
    </div>                </div>
            </div>
        </div>
</div>

</div>
 

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDudcR7C4aHHkRFRGD8xm7eU6oagPqmxOY">
</script>
<script>
$(document).ready(function () {
Pleasure.init();
Layout.init();

});

$(document).ready(function () {
$("#new_message").validate({
rules: {
"message[name]": {required: true},
"message[email]": {required: true, email: true},
"message[phone]": {required: true,minlength: 10,maxlength: 10,digits: true},
"message[subject]": {required: true},
"message[message]": {required: true}
}
});
});

</script>