<h1 style="text-align: center;">F A Q</h1>
<h3><strong> Q1) Do you work on abraod based brands cars?</strong></h3>
<h3>A)Yes. We have many customers who own domestic and also foreign brands vehicles and have begged us for years to work on them. We caved in and added an excellent domestic technician to our staff of the best technicians IN THE WORLD.
</h3>
<h3><strong> Q2) Why can't you fix my car on the weekend?</strong></h3>
<h3>A)Our product is our technicians and our goal has always been to have the best technicians available. Mechanics of this caliber are in huge demand and can work anywhere they choose. One reason we have the best crew IN THE WORLD is that we offer them things that go beyond a good paycheck, which includes giving them weekends off to spend with their families and friends. We are usually open for a few hours on Saturday morning so that customers can pick up and drop off cars at a more convenient time. 
</h3>
<h3><strong> Q3)Why should I go to Serve 4 wheels instead of my new car dealer?</strong></h3>
<h3>A)Our technicians are factory trained and know your car as well as the technicians at the new car dealer. We can perform the same or better level of service at a lower cost because we don't have the massive expenses associated with a large dealership. We can always use dealer parts on your car, but unlike the dealer, we also have lower cost options like aftermarket or used parts. While your car is under warranty we can still perform your regular maintenance service (keeping your warranty intact.) We can give you personalized one-on-one service and never try to sell you unnecessary repairs.
</h3>
<h3><strong> Q4)Why should I go to Serve 4 wheels instead of my fast oil change shop?</strong></h3>
<h3>A)Oil change facilities can be quick and convenient and many of them are very competent. However, because they offer their services at a low rate, they frequently use mechanics with limited training and often have to make their profit by selling you additional services which aren't necessary. We can do oil changes at a reasonable cost, while you wait in our comfortable customer lounge with no fear of a sales pitch and have the confidence that your work is being performed by one of the best technicians IN THE WORLD.</h3>
<h3><strong>Q5)Why should I go to Serve 4 wheels instead of another independent shop?</strong></h3>
<h3>
	<p>A)Here’s why:</p>
	<ul>
		<li>We are the highest ranked independent shop in the entire metro area</li>
		<li>Free Wi-Fi</li>
		<li>Online appointment scheduling</li>
		<li>Our commitment to excellence in service quality is second to none. We employ top technicians, we use the very best equipment and we install the highest quality parts and fluids in your vehicles.</li>
		<li>Did I say we have the BEST TECHNICIANS IN THE WORLD?</li>
	</ul>
</h3>
<h3><strong>Q5)Do you give free estimates?</strong></h3>
<h3>Yes, we can give you an estimate for any repair you want to have performed. However, it is not always obvious what repair needs to be done and we must find the source of the problem by doing diagnostic tests, test drives, etc. that use valuable time and expensive equipment. Our technicians work for years to gain the experience necessary to accurately diagnose the complex systems on today’s vehicles and we often need to charge for this valuable information. We try to keep diagnostic charges, when necessary, as low as possible and can sometimes include them in the cost of the repair.
</h3>
<h3><strong>Q6)Are you expensive?</strong></h3>
<h3>We are not the cheapest repair facility, but we are far from expensive. To keep the BEST TECHNICIANS IN THE WORLD we pay them well. However, we have an awesome location, our building is paid for and we can pass those savings on to you. We also save you money by NOT doing unnecessary repairs. On a regular basis we have customer come in with a long list of recommended services and after a thorough evaluation we find (a) many of them aren’t needed or can be safely postponed and/or (b) we can do those services for much less than their estimate. 
</h3>