                        <!-- BEGIN PLUGINS CSS -->

    <link rel="stylesheet" href="/assets/Datatables/admin1.css">
    <link rel="stylesheet" href="assets/Datatables/elements.css">
    <link rel="stylesheet" href="/assets/Datatables/plugins.css">

                        <!-- END PLUGINS CSS -->

                        
                        <!-- BEGIN CORE CSS -->

    <link rel="stylesheet" href="/assets/corecss/bootstrap.css">
    <link rel="stylesheet" href="/assets/corecss/font-awesome.css">
    <link rel="stylesheet" href="/assets/corecss/zing.css">
                        
                        <!-- END CORE CSS -->

<h1 style="text-align: center;">FAQ</h1>

 <div class="panel-group accordion p-l-r-30" id="accordion" >
					<div class="panel">
						<div class="panel-heading active">
							<a class="panel-title media-font" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><strong>Q1) Do you work on <span class="color-orange">abraod based brands cars?</span></strong></a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">
								A)Yes. We have many customers who own domestic and also foreign brands vehicles and have begged us for years to work on them. We caved in and added an excellent domestic technician to our staff of the best technicians IN THE WORLD.
							</div>
						</div>
					</div>

					<div class="panel">
						<div class="panel-heading">
							<a class="panel-title media-font" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><strong> Q2) Why <span class="color-orange">can't you fix my car on the weekend?</span></strong></a>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse">
							<div class="panel-body">
								A)Our product is our technicians and our goal has always been to have the best technicians available. Mechanics of this caliber are in huge demand and can work anywhere they choose. One reason we have the best crew IN THE WORLD is that we offer them things that go beyond a good paycheck, which includes giving them weekends off to spend with their families and friends. We are usually open for a few hours on Saturday morning so that customers can pick up and drop off cars at a more convenient time.
							</div>
						</div>
					</div>

					<div class="panel">
						<div class="panel-heading">
							<a class="panel-title media-font" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><strong> Q3) Why should I go to <span class="color-orange">Serve 4 wheels instead of my new car dealer?</span></strong></a>
						</div>
						<div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body">
								A)Our technicians are factory trained and know your car as well as the technicians at the new car dealer. We can perform the same or better level of service at a lower cost because we don't have the massive expenses associated with a large dealership. We can always use dealer parts on your car, but unlike the dealer, we also have lower cost options like aftermarket or used parts. While your car is under warranty we can still perform your regular maintenance service (keeping your warranty intact.) We can give you personalized one-on-one service and never try to sell you unnecessary repairs.
							</div>
						</div>
					</div>
						<div class="panel">
						<div class="panel-heading">
							<a class="panel-title media-font" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><strong> Q4) Why should I go to <span class="color-orange">Serve 4 wheels instead of my fast oil change shop?</span></strong></a>
						</div>
						<div id="collapseFour" class="panel-collapse collapse">
							<div class="panel-body">
								A)Oil change facilities can be quick and convenient and many of them are very competent. However, because they offer their services at a low rate, they frequently use mechanics with limited training and often have to make their profit by selling you additional services which aren't necessary. We can do oil changes at a reasonable cost, while you wait in our comfortable customer lounge with no fear of a sales pitch and have the confidence that your work is being performed by one of the best technicians IN THE WORLD.
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">
							<a class="panel-title media-font" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><strong> Q5) Why should I go to <span class="color-orange">Serve 4 wheels instead of another independent shop?</span></strong></a>
						</div>
						<div id="collapseFive" class="panel-collapse collapse">
							<div class="panel-body">
								A)Here’s why:
	                              <ul>
		                          <li>We are the highest ranked independent shop in the entire metro area</li>
		                         <li>Free Wi-Fi</li>
		                         <li>Online appointment scheduling</li>
		                         <li>Our commitment to excellence in service quality is second to none. We employ top technicians, we use the very best equipment and we install the highest quality parts and fluids in your vehicles.</li>
		                        <li>Did I say we have the BEST TECHNICIANS IN THE WORLD?</li>
	                            </ul>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">
							<a class="panel-title media-font" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><strong>Q6) Do you give <span class="color-orange">free estimates? </span></strong></a>
						</div>
						<div id="collapseSix" class="panel-collapse collapse">
							<div class="panel-body">
								A)Yes, we can give you an estimate for any repair you want to have performed. However, it is not always obvious what repair needs to be done and we must find the source of the problem by doing diagnostic tests, test drives, etc. that use valuable time and expensive equipment. Our technicians work for years to gain the experience necessary to accurately diagnose the complex systems on today’s vehicles and we often need to charge for this valuable information. We try to keep diagnostic charges, when necessary, as low as possible and can sometimes include them in the cost of the repair.
							</div>
						</div>
					</div>
				</div><!--.panel-group-->
<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();

	});
</script>