                        <!-- BEGIN PLUGINS CSS -->

    <link rel="stylesheet" href="/assets/Datatables/admin1.css">
    <link rel="stylesheet" href="assets/Datatables/elements.css">
    <link rel="stylesheet" href="/assets/Datatables/plugins.css">

                        <!-- END PLUGINS CSS -->

                        
                        <!-- BEGIN CORE CSS -->

    <link rel="stylesheet" href="/assets/corecss/bootstrap.css">
    <link rel="stylesheet" href="/assets/corecss/font-awesome.css">
    <link rel="stylesheet" href="/assets/corecss/zing.css">
                        
                        <!-- END CORE CSS -->
<div class="clearfix p-t-15">
        <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="card card-user">

					<div class="card-heading heading-full">
						<div class="user-image member1"></div>
					</div><!--.card-heading-->

					<div class="card-body">
						<h3 class="card-title"><a href="#">HEMANT</a></h3>
						<div class="subhead">Support at <a href="#">SERVE4WHEELS</a></div>
					
						<ul class="social-links">
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						</ul>
					</div><!--.card-body-->

				</div><!--.card-->
			</div><!--.col-md-4-->
			 <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="card card-user">

					<div class="card-heading heading-full">
						<div class="user-image member2"></div>
					</div><!--.card-heading-->

					<div class="card-body">
						<h3 class="card-title"><a href="#">ANMOL</a></h3>
						<div class="subhead">Support at <a href="#">SERVE4WHEELS</a></div>
					
						<ul class="social-links">
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						</ul>
					</div><!--.card-body-->

				</div><!--.card-->
			</div><!--.col-md-4-->
			 <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="card card-user">

					<div class="card-heading heading-full">
						<div class="user-image member3"></div>
					</div><!--.card-heading-->

					<div class="card-body">
						<h3 class="card-title"><a href="#">GAURI</a></h3>
						<div class="subhead">Support at <a href="#">SERVE4WHEELS</a></div>
					
						<ul class="social-links">
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						</ul>
					</div><!--.card-body-->

				</div><!--.card-->
			</div><!--.col-md-4-->
			 <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="card card-user">

					<div class="card-heading heading-full">
						<div class="user-image member4"></div>
					</div><!--.card-heading-->

					<div class="card-body">
						<h3 class="card-title"><a href="#">SUPREET</a></h3>
						<div class="subhead">Support at <a href="#">SERVE4WHEELS</a></div>
					
						<ul class="social-links">
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						</ul>
					</div><!--.card-body-->

				</div><!--.card-->
			</div><!--.col-md-4-->
</div>
<script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();

	});
</script>