<div class="container">
<h1 style="text-align: center;">PRIVACY POLICY</h1>
<hr>
<div style="margin:0px 20px;padding: 20px 0px; line-height: 2.2;">
 <b class="color-orange f-20">Introduction</b>

<div>1.1 We are committed to safeguarding the privacy of our website visitors; in this policy we explain how we will treat your personal information.</div>

<div>1.2 We will ask you to consent to our use of cookies in accordance with the terms of this policy when you first visit our website.By using our website and agreeing to this policy, you consent to our use of cookies in accordance with the terms of this policy.</div>

<b class="color-orange f-20">Collecting personal informations</b>

<div>2.1 We may collect, store and use the following kinds of personal information:</div>

<div class="m-l-6">(a) Information about your computer and about your visits to and use of this website (including your IP address, geographical location, browser type and version, operating system, referral source, length of visit, page views and website navigation paths).</div>

<div class="m-l-6">(b) When registering with our website we will collect your first name, surname and email address.</div>

<div class="m-l-6">(c) When completing your profile on our website we will collect all the information you provide us, including your name, email address, age, gender, height, weight and activity level.</div>

<div class="m-l-6">(d) When signing up for our newsletter or email updates we will collect your first name, surname and email address.</div>

<div class="m-l-6">(e) We will collect information you provide us when you use our services, including, timing, frequency and pattern of service use.</div>

<div class="m-l-6">(f) We will collect all information you provide us when you make a purchase of any of our services through our website, personal and transactional. This includes your name, address, phone number, email address and card details.</div>

<div class="m-l-6">(g) We will collect the information you enter into our website, including physical changes eg: weight, details of exercise and workouts completed, nutritional information eg: food consumption.</div>

<div class="m-l-6">(h) We will collect all communication information sent through our website.</div>

<div class="m-l-6">(i) Other information we will collect from you include food consumption, exercise and personal changes.</div>

<div class="m-l-6">(j) Details of the above information we collect are as follows: meal frequency, portion size and nutritional breakdown. We will also collect information on exercise activity and changes in personal body weight.</div>

<div>2.2 Before you disclose to us the personal information of another person, you must obtain that person's consent to both the disclosure and the processing of that personal information in accordance with this policy.</div>

<b class="color-orange f-20">Using personal information</b>

<div>3.1 Personal information submitted to us through our website will be used for the purposes specified in this policy or on the relevant pages of the website.</div>

<div>3.2 We may use your personal information to:</div>

<div class="m-l-6">(a) administer our website and business.</div>

<div class="m-l-6">(b) personalise our website for you and improve customer service.</div>

<div class="m-l-6">(c) enable your use of the services available on our website.</div>

<div class="m-l-6">(d) supply to you services purchased through our website.</div>

<div class="m-l-6">(e) send statements, invoices and payment reminders to you, and collect payments from you.</div>

<div class="m-l-6">(f) send you non-marketing commercial communications.</div>

<div class="m-l-6">(g) send you email notifications that you have specifically requested.</div>

<div class="m-l-6">(h) send you our email newsletter, if you have requested it (you can inform us at any time if you no longer require the newsletter).</div>

<div class="m-l-6">(i) send you marketing communications relating to our business [or the businesses of carefully-selected third parties] which we think may be of interest to you, by post or, where you have specifically agreed to this, by email or similar technology (you can inform us at any time if you no longer require marketing communications).</div>

<div class="m-l-6">(j) provide third parties with statistical information about our users (but those third parties will not be able to identify any individual user from that information).</div>

<div class="m-l-6">(k) deal with enquiries and complaints made by or about you relating to our website.</div>

<div class="m-l-6">(l) keep our website secure and prevent fraud.</div>

<div class="m-l-6">(m) verify compliance with the terms and conditions governing the use of our website (including monitoring private messages sent through our website private messaging service).</div>

<div>3.3 If you submit personal information for publication on our website, we will publish and otherwise use that information in accordance with the licence you grant to us.</div>

<div>3.4 Your privacy settings can be used to limit the publication of your information on our website, and can be adjusted using privacy controls on the website.</div>

<div>3.5 We will not, without your express consent, supply your personal information to any third party for the purpose of their or any other third party's direct marketing.</div>

<div>3.6 All our website financial transactions are handled through our payment services provider, Stripe Inc. You can review the provider's privacy policy at https://stripe.com/gb/privacy. We will share information with our payment services provider only to the extent necessary for the purposes of processing payments you make via our website, refunding such payments and dealing with complaints and queries relating to such payments and refunds.</div>
</div>
</div>