
<%= form_for @timeslot do |f| %>

  <div class="field">
    <%= f.label "TimeSlot" %><br>
    <%= f.text_field :time, required: :true , autofoucs: :true%>
  </div><br>
 
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>