<style type="text/css">
  .border-head{
    border-bottom: 1px solid #eee;   
    margin-right: -7px; 
    border-spacing: 5px;
    font-size: 15px;
  }
</style>
<div class="container-fluid" style="padding: 0px; margin:auto;">

   
    <footer class="footer">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        	<div class="col-md-4 footer-nav animated text-center">
               <h4>
                 <span class="border-head">S</span>
                 <span class="border-head">u</span>
                 <span class="border-head">p</span>
                 <span class="border-head">p</span>
                 <span class="border-head">o</span>
                 <span class="border-head">r</span>
                 <span class="border-head">t</span>
               </h4>
               
                  <ul class="list">
                      <li><a href="#">FAQ</a></li>
                      <li><a href="#">Terms & Condition</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                  </ul>
            </div>
        	<div class="col-md-4 footer-nav animated text-center">
            	<h4>
                <span class="border-head">C</span>
                 <span class="border-head">o</span>
                 <span class="border-head">m</span>
                 <span class="border-head">p</span>
                 <span class="border-head">a</span>
                 <span class="border-head">n</span>
                 <span class="border-head">y</span> 
              </h4>
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Our Team</a></li>
                    </ul>
            </div>
        	<div class="col-md-4 footer-social animated text-center">
            	<h4>
                <span class="border-head">F</span>
                 <span class="border-head">o</span>
                 <span class="border-head">l</span>
                 <span class="border-head">l</span>
                 <span class="border-head">o</span>
                 <span class="border-head">w</span>
                 <span class="border-head">-</span>
                 <span class="border-head">U</span>
                 <span class="border-head">s</span> 
              </h4>
            	<ul>
                	<li><a href="https://www.facebook.com/" >Facebook</a></li>
                	<li><a href="https://twitter.com/" >Twitter</a></li>
                	<li><a href="https://www.instagram.com/?hl=en" >Instagram</a></li>
                </ul>
            </div>
          </div> 
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <hr>
            <p style="text-align: center;margin-top: 22px;">© 2017 Serve4Wheels, All rights reserved</p>
        </div>
        </div>

    </footer>

</div>