<div class="navbar-wrapper" style="margin-top: 5px;">

  <div class="container-fluid">
    <div class="navbar  navbar-static-top">
      
        <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
     <!--    <a class="navbar-brand " href="#">
       <img class="img-responsive" src="/assets/logo.png" alt="Serve4wheel" style="height: 100px;position: absolute;">
        </a> -->
  
  
        </div>
            <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      
      </ul>  <ul class="nav navbar-nav navbar-right" > 
 
<li ><a href="#" >SERVICES</a></li>
   <li><a href="#">CONTACT US</a></li>
        <% if user_signed_in? %>
        <li > <%=link_to "SIGN OUT",destroy_user_session_path%></li>
<li ><%=link_to "EDIT PROFILE",edit_user_registration_path%></li>
 
  <%else%>
 <li ><%=link_to "SIGN IN", new_user_session_path%>  </li>
  
       <%end%>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
     

    </div>
    </div>
  </div><!-- /container -->
</div><!-- /navbar wrapper -->