<!DOCTYPE html>
<html>
  <head>
    <title>Serveforwheels</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
 <!--  <nav  class="navbar navbar-fixed-top  ">
    <div class="clearfix">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
      </div>
      
      <div class="collapse navbar-collapse pull-right navposition" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
      
</ul>  <ul class="nav navbar-nav navbar-right " > 
 
<li ><a href="#" >SERVICES</a></li>
   <li><a href="#">CONTACT US</a></li>
        <%# if user_signed_in? %>
        <li > <%#=link_to "SIGN OUT",destroy_user_session_path%></li>
<li ><%#=link_to "EDIT PROFILE",edit_user_registration_path%></li>
 
  <%#else%>
 <li ><%#=link_to "SIGN IN", new_user_session_path%>  </li>
  
       <%#end%>
       
      </ul>
      </div>
   
    </div>
 
  </nav>
 -->
    <%= yield %>

  </body>
</html>
