     <div class="row-fluid">
                    <div class="span10 offset1">
                            <div class="main-section main-primary">
                                    <div class="main-heading">
                                        <h3 class="main-title text-center">ADMIN PROFILE</h3>
                                    </div>
                                        <%if user_signed_in? %>
                                      <%if current_user.userrole_id == 2%>
                                      <%@user.each do |users| %>
                <div class="container">
                <div class="row">
                    <div class="main-body col-md-6 col-md-offset-3">
                        <div class="row-fluid">
                            <div class="span3">
                                  <%= image_tag users.image.url(:medium),class: "img-circle text-center img-responsive default" ,style: "margin-top:20px;" %>
                                   
                            </div>
                            <div class="span6 text-center">
                               
                                <strong class="text-head"><%= users.name%></strong><br>

                                <table class="table table-condensed table-responsive table-user-information">
                                    <tbody>
                                    <tr>
                                        <td class="labels"> Email</td>
                                        <td class="tabledata"><%=users.email%></td>
                                    </tr>
                                    <tr>
                                        <td class="labels">Phone</td>
                                        <td class="tabledata" ><%= users.phone%></td>
                                    </tr>
                                    </tbody>
                                </table>
                                        </div>
                                     </div>
                                </div>
                              
                                     </div>
                            </div>
                        </div>
                    <%end%>
                <%end%>
            <%end%>
         </div>
    </div>     
</div>

