     <div class="row-fluid">
                    <div class="span10 offset1">
                            <div class="main-section main-primary">
                                    <div class="main-heading">
                                        <h3 class="main-title text-center">Admin Profile</h3>
                                    </div>
                                    <div class="main-body">
                                            <div class="row-fluid">
                                                   
                                                </div>
                                            </div>
                                    </div>
                                    </div>
                                </div>

